#taskmanager-container{
    display: flex;
    border: solid 1px red;
    flex-direction: column;
    align-items: center;
    gap:5em;

}

.table-container{
    border: solid 1px black;
}


td{
    border: solid 1px blue;
    width: 100px;
    height: 60px;
}

td.dias{
    height: 400px;
}

