

.body{

    display: flex;
    justify-content: center;
    height: 100%;
}

#Navbar{
    position: fixed;
    top: 1em;
    display: flex;
    justify-content: center;
    align-items:  center;
    height:4em;
    width: 40%;
    border: solid rgba(0, 0, 0, 0.103) 1px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}

a{
    display: inline;
    padding-left: 2em;
    align-items:  center;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

a:hover{
    opacity: 0.6;
}